button{
    margin-top: 15rem;
        align-items: center;
        text-align: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 10px;
        background-color: rgb(7, 111, 230);
        color: #f1eaea;
        font-size: 1.5rem;
        
      }
