.cont2{
    display: flex;
    justify-content: center;
        img{ 
            width: 8%;
            position: absolute;
        margin-bottom: 2%;
   
}
   h2{
        color: white;
text-align: center;
position: relative;
margin-left:18% ;
font-size: 90%;
margin-top: 11%;

    } 
}