$primary-color:rgb(0, 174, 255);
$secondary-color:black;
$third-color: white;
$card1-color:#A35C1B;
<<<<<<< HEAD:farmer/src/sass/abstracts/variable.scss

=======
<<<<<<< HEAD
$card2-color:#3E6C86;
=======
>>>>>>> 04bc07f (well)
>>>>>>> 2776fe3 (add):farmer/src/sass/abstract/variable.scss
