.about-cont{
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJYvvqUmY2Jd2zIpzYJr0R1z91n9z61drAyQ&usqp=CAU);
 background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    // filter:grayscale(30%);
    // filter: hue-rotate(-80deg);
    height: 87.4vh;
}
.heo{
  background-color: rgba(0, 0, 255, 0.782);
  width: 50%;
  height: 100%;
}
.ball{
  // background-color: red;
  padding: 20px;
  color: white;
  text-align: center;
  // margin-left: 200px;
  padding-top: 100px;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}
span{
 color: rgba(255, 255, 255, 0.844);
}
.linkg{
  background-color: rgba(255, 255, 255, 0.831);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.857);
  transition: all;
  &:active,
  &:hover{
    background-color: rgba(0, 128, 0, 0.798);
    color: white;
    transition: all 1s;
  }
}