.about-cont{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJYvvqUmY2Jd2zIpzYJr0R1z91n9z61drAyQ&usqp=CAU);
     background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        // filter:grayscale(30%);
        // filter: hue-rotate(-80deg);
        height: 87.4vh;
    }
    @media(max-width:956px){
      .about-cont{
        width: 100%;
      }
    }
    @media(max-width:700px){
      .about-cont{
        width: 100%;
        background-color: red;
      }
    }
    @media(max-width:658px){
      .about-cont{
        width: 100%;
      }
    }
    .heo{
      background-color: rgba(0, 0, 255, 0.782);
      width: 50%;
      height: 100%;
    }
    .short{
      padding: 20px;
      color: rgba(255, 255, 255, 0.902);
     font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
      margin-left: -1px;
      letter-spacing: 1px;
    }
    .linkg{
      background-color: rgba(255, 255, 255, 0.831);
      padding: 10px;
      border-radius: 5px;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.857);
      transition: all;
      &:active,
      &:hover{
        background-color: rgba(0, 128, 0, 0.798);
        color: white;
        transition: all 1s;
      }
      @media(max-width:808px){
        .linkg{
          display: flex;
          background-color: aqua;
        }
      }
    // .back-con{
    //     background-color: rgba(0, 128, 0, 0.622);
    //     height: 100%;
    //     width: 50%;
    //     // position: fixed;
    // }
    // .linkl{
    // color: rgba(255, 255, 255, 0.889);
    //   margin-top: 450px;
    // // margin-left: 100px;
    // padding: 5px;
    // font-size: 22px;
    // border: none;
    // border-radius: 4px;
    // position: absolute;
    // font-family: 'Times New Roman', Times, serif;
    // color: black;
    // a{
    //   text-decoration: none;
    //   font-style: bold;
    //   font-family: 'Times New Roman', Times, serif;
    //   color: rgba(255, 255, 255, 0.901);
    //   background-color: rgba(0, 0, 255, 0.636);
    //   padding: 2px;
    //   border-radius: 3px;
    // }
    // }
    }
    