.contact-cont{
    height: 55vh;
    background-color: #0968a7df;
    margin-top: .2rem;
}
.containes{
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 2rem;
    width:100%;
    
}


.lgd{
   
    // margin: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
    color: rgba(255, 255, 255, 0.777)
    
}
.lbe-container{
    align-items: center;
    margin-left:5% ;
    margin-top: 6%;
    
}
.l1{
    margin: .6rem;
    color: rgba(255, 255, 255, 0.77);
    font-size: large;
    letter-spacing: .1rem;
    input{
        width: 17.8rem;
        height: 1.5rem;
        border: none;
        border-radius: 50px;
        padding: 1rem;
        background-color: white;
        margin: .2rem;
        margin-left: .4rem;
    }
}
.l2{
    margin: .6rem;
    color: rgba(255, 255, 255, 0.805);
    font-size: large;
    letter-spacing: .1rem;
    input{
        width: 17.8rem;
        height: 1.5rem;
        border: none;
        border-radius: 50px; 
        padding: 1rem;
        background-color: white;
        margin: .2rem;
    }
}

.l3{
    margin: .6rem;
    color: rgba(255, 255, 255, 0.755);
    font-size: large;
    letter-spacing: .1rem;
    input{
        width: 17.8rem;
        height: 1.5rem;
        border: none;
        border-radius: 50px;
        padding: 1rem;
        background-color: white;
        margin: .2rem ;
        margin-left: 1.7rem;
    }
}

.l4{
    margin: .6rem;
    color: rgba(255, 255, 255, 0.779);
    font-size: large;
    letter-spacing: .1rem;
    textarea{
        border: none;
        border-radius: 25px;
        padding: 1rem;
        background-color: white;
        margin: .2rem ;
        margin-left: 1.5rem;
    }
}

h2{
    color: black;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    position: absolute;
  margin-top: 3rem;
  margin-left: 22rem;
   
    
}
.fom-conto{
  
    display: flex;
    justify-content: space-between;
}
.par{
   
    
    p{
        font-size: 1rem;
        padding: 1rem;
        width: 100%;
        color: rgba(255, 255, 255, 0.882);
        padding-right: 8rem;
        
    }
}
.btn{
    width: 17.8rem;
        height: 1.8rem;
        border: none;
        border-radius: 5rem;
        width: 100%;
     background-color: rgba(128, 128, 128, 0.727);
        font-size: 1rem;
        color: white;
        font-weight: 400;
}