.contact-cont{
    height: 100vh;
    // background-image: linear-gradient(to bottom,rgba(0, 106, 255, 0.451), white );
    // background-position: 2px 1px;
    background-color: rgba(0, 106, 255, 0.287);
}
.containes{
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 2rem;
    width:100%;
   
}


.lgd{
   
     
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
fieldset{
    border-radius: .3rem;
    height: 20rem;
    // margin-top: 15%;
    margin-top: 10rem;
    
}
.lbe-container{
    align-items: center;
    margin-left:5% ;
    margin-top: 6%;
    
}
.l1{
    
    input{
        width: 17.8rem;
        height: 1.5rem;
        border: none;
        border-radius: 50px;
        padding: 1rem;
        background-color: white;
        margin: .2rem;
        margin-left: .4rem;
    }
}
.l2{
    
    input{
        width: 17.8rem;
        height: 1.5rem;
        border: none;
        border-radius: 50px; 
        padding: 1rem;
        background-color: white;
        margin: .2rem;
    }
}

.l3{
   
    input{
        width: 17.8rem;
        height: 1.5rem;
        border: none;
        border-radius: 50px;
        padding: 1rem;
        background-color: white;
        margin: .2rem ;
        margin-left: 1.7rem;
    }
}

.l4{
    .textarea{
        width: 17.8rem;
        height: 5rem;
        border: none;
        border-radius: 25px;
        padding: 1rem;
        background-color: white;
        margin: .2rem ;
        margin-left: 1.5rem;
    }
}

h2{
    color: black;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    position: absolute;
  margin-top: 3rem;
  margin-left: 22rem;
   
    
}
.fom-conto{
  
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.par{
   
    
    img{
        font-size: 1rem;
     margin-left: 30%;
     margin-top: 50%;
        width: 350px;
        height: 400px;
    position: relative;
        
    }
}
.btn{
    // width: 17.8rem;
        height: 1.8rem;
        border: none;
        border-radius: 5rem;
        width: 75%;
background-image: linear-gradient(to right,blue, green, yellow );
background-position: 1px 1px;

        font-size: 1rem;
        color: white;
        font-weight: 400;
        margin-left: 1.7rem;
        margin-top: 1rem;
}

@media screen and (max-width:844px) {
    img{
        display: none;
    }
    .hello{
       margin: 10%;
       display: flex;
    }
}

@media screen and (max-width:419px) {
    img{
        display: none;
    }
    .hello{
       margin: 10%;
       display: flex;
       font-size: 20px;
    }
    .contact-cont{
        width: 100%;
    }
}

@media screen and (max-width:366px) {
    img{
        display: none;
    }
    .hello{
       margin: 10%;
       display: flex;
       font-size: 20px;
    }
    .contact-cont{
        width: 100%;
    }

    fieldset{
        background-color: blue;
        width: 100%;
    }
}

@media screen and (max-width:318px) {
    img{
        display: none;
    }
    .hello{
       margin: 10%;
       display: flex;
       font-size: 15px;
    }
    .contact-cont{
       width: 100vd;
    }

    fieldset{
        background-color: blue;
        width: 100%;
        height: 100%;
        input{
            width: 100%;
        }
    }
}