*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-cont{
    background-color: #0967A7;
    box-shadow: .2rem .2rem .2rem grey;
  height: 4.8rem;
  position: sticky;
  top: 0%;
  margin: 0%;
  z-index: 9999;
    .container{
        display: flex;
        justify-content: space-between;
        .cont1{
            display: flex;
                img{ width: 7.5rem;
                    position: absolute;
                margin-bottom: 1rem;
         
           
        }
           h2{
                color: white;
text-align: center;
position: relative;
<<<<<<< HEAD
margin-left:2.2rem ;
font-size: .9rem;
margin-top: 1.7rem;
=======
margin-left:3.2rem ;
font-size: .8rem;
margin-top: 2rem;
>>>>>>> a60a932 (addc)
            } 
        }
        
    }
    ul{
        margin-bottom: 1.5rem;
        padding-top: 1.5rem;
        padding: 1.5rem;
        font-size: 1.5rem;
        display: flex;
       align-items: center;
<<<<<<< HEAD
       margin-top: 1.8rem;
  justify-content: center;
=======
       margin-top: 1.8rem; 
       transition: all -5s ease;
  
>>>>>>> a60a932 (addc)
        li{
            list-style-type: none;
            align-items: center;
            text-transform: capitalize;
             
        }
        a{
            text-decoration: none;
           font-size: 1.2rem;
             color: rgba(255, 255, 255, 0.778);
             padding: .7rem;
             text-align: center;
         transition: all .5s;
             &:hover,
             &:active{
            transform: rotate(2deg);
            transition: all(1s);
                background-color: rgba(255, 255, 255, 0.826);
                border-radius: .5rem;
                color: rgba(0, 0, 0, 0.857);
                }
        }
     
    
    }
    @media screen and (max-width:777px) {
        .links{
            display: none;
           
        }
       
    }
    .menu-icon{
        display: none;
    }
    @media screen and (max-width:776px) {
        .menu-icon{
            display: block;
        }
    }
}
.links{
//    background-color: blue;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

@media(max-width:666px){
    .nav-cont{
       width:100%;
position: fixed;
margin-bottom: .6rem;
      
       .links{
         
        display: none;
        li{
            a{
      margin-right: .4rem;
        font-size: .9rem;
            }
        }

       }
    }
}

@media(max-width:375px){
    .nav-cont{
       width:100%;
position: fixed;
margin-bottom: .6rem;
      
       .links{
         
        visibility: hidden;

       }
    }
}

.menu-icon{
//   background-color: red;
  .icon{
    font-size: 5rem;
    margin-right: 3rem;
  }
}
