.login-contain{
    background-color:#ddd;
     padding: 2rem;
    height: 500px;

    .login-form{
        background-color: white;
        width:450px;
        padding: 2rem;
        position: absolute;
        left: 32%;
        border-radius: 4px;
        box-shadow: 1px 1px 1px 1px black;

         p{
            font-size: 2rem;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;
            text-align: center;
            padding-bottom: 1rem;
         }
    }
    @media(max-width:867px){
        .login-form{
            left: 20%;
        }
    }
    @media(max-width:609px){
        .login-form{
            left: 10%;
        }
    }
    @media(max-width:502px){
        .login-form{
            
            left: 10%;
            width: 70%;
            
        }
    }
}
@media(max-width:502px){
    .login-contain{
        padding: 2rem;
    }
}