.product-container{
    padding: 3rem 3rem;

    h1{
        padding-bottom: 1rem;
        font-family: 'Courier New', Courier, monospace;
    }


        .different-card{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            
        }
       
}