.pro-contanner{
    padding: 5rem 3rem;

.product{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.4rem;
    

    .image{
        outline: 1px solid red;
        outline-offset: 2px ;
        transition:all .3s ;
        cursor: pointer;


         img{
            width: 300px;
         }


         &:hover{
            transform: rotateY(50deg);
        }
    }

    .dicrition{
        // background-color: aqua;
        background-color:rgb(241, 238, 232);
        padding: 2rem;

        h1{
            font-size: 2rem;
            font-weight: 800;
            border-bottom: 3px solid black;
            padding-bottom: 1.2rem;
            
            
        }
        p{
            font-size: 1rem;
            padding: 1rem 0rem;

            span{
                color: red;
            }
        }

    }

    .shopping{
        background-color: rgb(247, 242, 235);
        padding: 2rem;

        .cart{
            padding: 2rem;
            button{
                width: 100%;
                background-color: red;
                padding: 1rem 5rem;
            }
        }
        .buy{
            padding: 2rem;

            button{
                width: 100%;
                background-color: green;
                padding: 1rem 5rem;
            }
        }

        #igiciro{
            padding: 1rem 5rem;
        }
    }
}
.conact{
    display: flex;
    align-items:center;
    // justify-content: space-between;
    padding: 0rem 2rem;
    text-align: right;
    gap: 1rem;
    padding-top: 1rem;

    img{
        width: 40px;
        text-align: right;
    }

    position: absolute;
    left: 80%;
}
}

.nav{
    background-color: #197dc0;
    display: flex;
    justify-content: space-around;
    position:sticky;
    position: -webkit-sticky;
    bottom: 0;
    z-index: 9999;
    padding: 2rem;
    list-style: none;

    li{
        display: flex;
        justify-content: center;
        gap: 3px;
        align-items: center;

        a{
            text-decoration: none;
            color: aliceblue;
        }
    }
}